@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* --- KEYFRAMES QUE FALTAVAM --- */

@keyframes parallax {
  0% {
    transform: scale(1.15) translateY(0);
  }

  50% {
    transform: scale(1.15) translateY(-20px);
  }

  100% {
    transform: scale(1.15) translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}